h3 {
  margin-bottom: 0.5rem;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  background: #111;
  border: 2px solid #0f0;
  border-radius: 12px;
  box-shadow: 0 0 10px #0f0;
  padding: 1rem;
}

.product:hover {
  transform: scale(1.05);
  border-color: #ff00ff;
  box-shadow: 0 0 15px #ff00ff;
}

.product img {
  aspect-ratio: 3 / 4;   
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.product h3 {
  font-size: 1rem;
  text-align: center;
  color: #9f0;
  margin: 0.5rem 0;
  min-height: 2.5rem;
}

.product .price {
  font-size: 1rem;
  color: #f0f;
  margin-top: auto;
}

/* En móviles, glow violeta permanente */
@media (max-width: 600px) {
  .product {
    box-shadow: 0 0 15px #ff00ff;
    border-color: #ff00ff;
  }

  .product img {
    max-width: 100%;
  }
}
